@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

:root {
    --primary-color: #17A2B8;
    --banner-color: #464444;
}

* {
    font-family: 'Do Hyeon', sans-serif;
}
.hotelpedia-logo {
    margin-left: 5rem;
}

.login-page-link {
    margin-right: 5rem;
    color: black;
}

.login-page-link:hover {
    text-decoration: none;
    color: black;
}
.login-wrapper {
    width: 50%;
    margin: 50px auto;
}
.login {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.login > input {
    width: 400px;
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: .25rem;
    padding: 8px 14px 8px 16px;
    height: 40px;
}
.login-btn {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: .25rem;
    padding: .25rem 50px;
    background: white;
    cursor: pointer;
    margin-top: 10px;
}
.login-btn:hover {
    color: white;
    background: var(--primary-color);
    cursor: pointer;
}
.register {
    color: var(--primary-color);
}
.register:hover {
    color: var(--primary-color);
}