<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>호텔피디아</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='{{ url_for("static", filename="detail.css") }}' rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script>
        function sign_out() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = "/"
        }
        let hotel_detail = '{{ hotel_info }}'

        $( document ).ready(function() {
            $('.email-manual').hide();
            let email_select = document.getElementById('email-select');
            email_select.addEventListener('change', function () {
                let selected = this.value;
                if(selected === "직접입력") {
                    $('.email-manual').show();
                } else {
                    $('.email-manual').val('');
                    $('.email-manual').hide();
                }
            });
        });

        $(function () {
            $("#check-in-date").datepicker();
            $("#check-out-date").datepicker();
        });

        function book_complete() {

            let email_address = $('#email-select').val() === '직접입력' ? $('.email-manual').val() : $('#email-select').val()

            console.log(email_address)

            let booker_name = $('#booker-name').val()
            let booker_phone = $('#booker-phone-first').val().concat($('#booker-phone-second').val(), $('#booker-phone-third').val())
            let booker_email = $('#booker-email-id').val().concat('@',email_address)
            let checkin_date_give = $('#check-in-date').val()
            let checkout_date_give = $('#check-out-date').val()
            let people_give = $('#people-select').val()

            $.ajax({
                    type: "POST",
                    url: `/book_complete`,
                    data: {
                        booker_name_give: booker_name,
                        booker_phone_give: booker_phone,
                        booker_email_give: booker_email,
                        hotel_name_give: '{{ hotel_info.name }}',
                        hotel_location_give: '{{ hotel_info.location }}',
                        hotel_price_give: '{{ hotel_info.price }}',
                        hotel_imageUrl_give: '{{ hotel_info.imageUrl }}',
                        checkin_date_give: checkin_date_give,
                        checkout_date_give : checkout_date_give,
                        people_give : people_give
                    },
                    success: function (response) {
                        alert(response["msg"])
                        window.location.href = "/"
                    }
                });
        }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light hotelpedia-nav">
    <a class="navbar-brand hotelpedia-logo" href="/">
        <img src="/static/logo.png" width="30" height="30" alt="" margin-right="10px">
        호텔피디아
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <img src="{{ '.' + token.img }}" width="30" height="30" style="margin-right: 10px; border-radius: 50%" alt="">
        <a class="login-page-link" href='/'>{{ token.name }}님 환영합니다</a>
        <a class="btn-logout" href="javascript:sign_out();">로그아웃</a>
    </div>
</nav>
<section class="booking-grid">
    <div class="booking-info">
        <h3>예약자 정보</h3>
        <div class="booking-info-wrapper">
            <div>
                <label>예약자</label>
                <br>
                <input type="text" id="booker-name" placeholder="예) 홍길동"/>
            </div>
            <div class="booking-info-phone">
                <label>휴대폰</label>
                <br>
                <input type="tel" id="booker-phone-first" placeholder="예) 010"/>
                <span>-</span>
                <input type="tel" id="booker-phone-second"/>
                <span>-</span>
                <input type="tel" id="booker-phone-third"/>
            </div>
            <div>
                <label>이메일</label>
                <br>
                <input type="text" id="booker-email-id"/>
                <span>@</span>
                <select id="email-select">
                    <option selected>선택하세요</option>
                    <option>naver.com</option>
                    <option>gmail.com</option>
                    <option>outlook.kr</option>
                    <option>hanmail.com</option>
                    <option>daum.net</option>
                    <option>직접입력</option>
                </select>
                <input class="email-manual" type="text" placeholder="직접입력"/>
            </div>
            <div>
                <label>숙박 인원</label>
                <br>
                <select id="people-select">
                    <option selected>선택하세요</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9인 이상</option>
                </select>
            </div>
        </div>


    </div>
    <div class="booking-hotel"
         style="background-image: url({{hotel_info.imageUrl}})">
        <div class="booking-hotel-img">

        </div>
        <div class="booking-hotel-detail">
            <div>
                <h3>{{hotel_info.name}}</h3>
            </div>
            <div>
                <p>스위트룸 더블</p>
            </div>
        </div>
    </div>
    <div class="booking-date">
        <div>
            <label>체크인 날짜</label>
            <br>
            <input type="text" id="check-in-date"/>
        </div>
        <div>
            <label>체크아웃 날짜</label>
            <br>
            <input type="text" id="check-out-date"/>
        </div>
    </div>
    <div class="booking-price">
        <span class="booking-price-tag">총 결재 금액</span><span>(VAT포함)</span>
        <br>
        <span class="booking-price-total">{{hotel_info.price}}</span>
        <br>
        <span>*해당 객실가는 세금, 봉사료가 포함된 금액입니다</span>
        <br>
        <span>*결재완료 후 예약자 이름으로 바로 체크인 하시면 됩니다</span>
        <br>
        <button type="button" onclick="book_complete()">결제하기</button>
    </div>
</section>
</body>
</html>