<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>호텔피디아</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='{{ url_for("static", filename="style.css") }}' rel="stylesheet">
    <script defer src="/static/script.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light hotelpedia-nav">
    <a class="navbar-brand hotelpedia-logo" href="/">
        <img src="/static/logo.png" width="30" height="30" alt="" margin-right="10px">
        호텔피디아
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <a class="login-page-link" href='/login'>로그인하러가자</a>
    </div>
</nav>

<div class="banner">
    <div class="banner-video-wrapper">
        <video autoplay muted loop class="banner-video">
            <source src="/static/banner.mp4" type="video/mp4">
        </video>
    </div>
    <div class="banner-text">
        <h1>호캉스 여기 다 모였다!</h1>
        <h3>비행기 안타도 여기가 외국</h3>
    </div>
</div>
<section class="search">
    <div class="search-conditions">
        <select class="state custom-select" id="state-select">
            <option selected>도시를 선택하세요</option>
            <option value="seoul">서울</option>
            <option value="busan">부산</option>
            <option value="jeju">제주</option>
        </select>
        <select class="city custom-select" id="city-select">
            <option selected>그리고 이것도..</option>
        </select>
        <button class="btn btn-outline-light search-btn">검색</button>
    </div>
</section>
<section class="weekly-best">
    <div class="weekly-best-recommendation">
        <h3>이번주 TOP 3</h3>
    </div>
    <div class="weekly-best-card-wrapper">
        <div class="content-card hotel-info">
            <div class="hotel-img">
                <img src="//image.goodchoice.kr/resize_1000X500x0/affiliate/2018/12/13/5c11a683a494b.jpg" alt="">
            </div>
            <div class="hotel-info-grid">
                <div class="hotel-name"><span>포시즌스 호텔</span></div>
                <div class="hotel-rate"><p>10.0점</p></div>
                <div class="hotel-location">종로구 | 광화문역 부근</div>
                <div class="hotel-booking">
                    <a href="/detail">예약하기</a>
                </div>
                <span class="hotel-money">385,000원</span>
            </div>
        </div>
        <div class="content-card hotel-info">
            <div class="hotel-img">
                <img src="//image.goodchoice.kr/resize_1000X500x0/affiliate/2020/08/14/5f3604b0d9ada.jpg" alt="">
            </div>
            <div class="hotel-info-grid">
                <div class="hotel-name"><span>목시 바이 메리어트 서울 인사동</span></div>
                <div class="hotel-rate"><p>9.6점</p></div>
                <div class="hotel-location">종로구 | 종로3가역 도보 1분</div>
                <div class="hotel-booking">
                    <a href="#">예약하기</a>
                </div>
                <span class="hotel-money">89,700원</span>
            </div>
        </div>
        <div class="content-card hotel-info">
            <div class="hotel-img">
                <img src="//image.goodchoice.kr/resize_1000X500x0/affiliate/2020/01/10/5e1816bd8972f.jpg" alt="">
            </div>
            <div class="hotel-info-grid">
                <div class="hotel-name"><span>나인트리 프리미어 호텔 인사동</span></div>
                <div class="hotel-rate"><p>9.5점</p></div>
                <div class="hotel-location">종로구 | 안국역 도보 4분</div>
                <div class="hotel-booking">
                    <a href="#">예약하기</a>
                </div>
                <span class="hotel-money">75,000원</span>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="content-card hotel-info">
        <div class="hotel-img">
            <img src="//image.goodchoice.kr/resize_1000X500x0/affiliate/2018/12/13/5c11a683a494b.jpg" alt="">
        </div>
        <div class="hotel-info-grid">
            <div class="hotel-name"><span>포시즌스 호텔</span></div>
            <div class="hotel-rate"><p>10.0점</p></div>
            <div class="hotel-location">종로구 | 광화문역 부근</div>
            <div class="hotel-booking">
                <a href="#">예약하기</a>
            </div>
            <span class="hotel-money">385,000원</span>
        </div>
    </div>
    <div class="content-card hotel-info">
        <div class="hotel-img">
            <img src="//image.goodchoice.kr/resize_1000X500x0/affiliate/2020/08/14/5f3604b0d9ada.jpg" alt="">
        </div>
        <div class="hotel-info-grid">
            <div class="hotel-name"><span>목시 바이 메리어트 서울 인사동</span></div>
            <div class="hotel-rate"><p>9.6점</p></div>
            <div class="hotel-location">종로구 | 종로3가역 도보 1분</div>
            <div class="hotel-booking">
                <a href="#">예약하기</a>
            </div>
            <span class="hotel-money">89,700원</span>
        </div>
    </div>
    <div class="content-card hotel-info">
        <div class="hotel-img">
            <img src="//image.goodchoice.kr/resize_1000X500x0/affiliate/2020/01/10/5e1816bd8972f.jpg" alt="">
        </div>
        <div class="hotel-info-grid">
            <div class="hotel-name"><span>나인트리 프리미어 호텔 인사동</span></div>
            <div class="hotel-rate"><p>9.5점</p></div>
            <div class="hotel-location">종로구 | 안국역 도보 4분</div>
            <div class="hotel-booking">
                <a href="#">예약하기</a>
            </div>
            <span class="hotel-money">75,000원</span>
        </div>
    </div>
    <div class="content-card hotel-info">
        <div class="hotel-img">
            <img src="//image.goodchoice.kr/resize_1000X500x0/affiliate/2018/12/13/5c11a683a494b.jpg" alt="">
        </div>
        <div class="hotel-info-grid">
            <div class="hotel-name"><span>포시즌스 호텔</span></div>
            <div class="hotel-rate"><p>10.0점</p></div>
            <div class="hotel-location">종로구 | 광화문역 부근</div>
            <div class="hotel-booking">
                <a href="#">예약하기</a>
            </div>
            <span class="hotel-money">385,000원</span>
        </div>
    </div>
    <div class="content-card hotel-info">
        <div class="hotel-img">
            <img src="//image.goodchoice.kr/resize_1000X500x0/affiliate/2020/08/14/5f3604b0d9ada.jpg" alt="">
        </div>
        <div class="hotel-info-grid">
            <div class="hotel-name"><span>목시 바이 메리어트 서울 인사동</span></div>
            <div class="hotel-rate"><p>9.6점</p></div>
            <div class="hotel-location">종로구 | 종로3가역 도보 1분</div>
            <div class="hotel-booking">
                <a href="#">예약하기</a>
            </div>
            <span class="hotel-money">89,700원</span>
        </div>
    </div>
    <div class="content-card hotel-info">
        <div class="hotel-img">
            <img src="//image.goodchoice.kr/resize_1000X500x0/affiliate/2020/01/10/5e1816bd8972f.jpg" alt="">
        </div>
        <div class="hotel-info-grid">
            <div class="hotel-name"><span>나인트리 프리미어 호텔 인사동</span></div>
            <div class="hotel-rate"><p>9.5점</p></div>
            <div class="hotel-location">종로구 | 안국역 도보 4분</div>
            <div class="hotel-booking">
                <a href="#">예약하기</a>
            </div>
            <span class="hotel-money">75,000원</span>
        </div>
    </div>
    <div class="content-card hotel-info">
        <div class="hotel-img">
            <img src="//image.goodchoice.kr/resize_1000X500x0/affiliate/2018/12/13/5c11a683a494b.jpg" alt="">
        </div>
        <div class="hotel-info-grid">
            <div class="hotel-name"><span>포시즌스 호텔</span></div>
            <div class="hotel-rate"><p>10.0점</p></div>
            <div class="hotel-location">종로구 | 광화문역 부근</div>
            <div class="hotel-booking">
                <a href="#">예약하기</a>
            </div>
            <span class="hotel-money">385,000원</span>
        </div>
    </div>
    <div class="content-card hotel-info">
        <div class="hotel-img">
            <img src="//image.goodchoice.kr/resize_1000X500x0/affiliate/2020/08/14/5f3604b0d9ada.jpg" alt="">
        </div>
        <div class="hotel-info-grid">
            <div class="hotel-name"><span>목시 바이 메리어트 서울 인사동</span></div>
            <div class="hotel-rate"><p>9.6점</p></div>
            <div class="hotel-location">종로구 | 종로3가역 도보 1분</div>
            <div class="hotel-booking">
                <a href="#">예약하기</a>
            </div>
            <span class="hotel-money">89,700원</span>
        </div>
    </div>
    <div class="content-card hotel-info">
        <div class="hotel-img">
            <img src="//image.goodchoice.kr/resize_1000X500x0/affiliate/2020/01/10/5e1816bd8972f.jpg" alt="">
        </div>
        <div class="hotel-info-grid">
            <div class="hotel-name"><span>나인트리 프리미어 호텔 인사동</span></div>
            <div class="hotel-rate"><p>9.5점</p></div>
            <div class="hotel-location">종로구 | 안국역 도보 4분</div>
            <div class="hotel-booking">
                <a href="#">예약하기</a>
            </div>
            <span class="hotel-money">75,000원</span>
        </div>
    </div>
    <div class="content-card hotel-info">
        <div class="hotel-img">
            <img src="//image.goodchoice.kr/resize_1000X500x0/affiliate/2018/12/13/5c11a683a494b.jpg" alt="">
        </div>
        <div class="hotel-info-grid">
            <div class="hotel-name"><span>포시즌스 호텔</span></div>
            <div class="hotel-rate"><p>10.0점</p></div>
            <div class="hotel-location">종로구 | 광화문역 부근</div>
            <div class="hotel-booking">
                <a href="#">예약하기</a>
            </div>
            <span class="hotel-money">385,000원</span>
        </div>
    </div>
    <div class="content-card hotel-info">
        <div class="hotel-img">
            <img src="//image.goodchoice.kr/resize_1000X500x0/affiliate/2020/08/14/5f3604b0d9ada.jpg" alt="">
        </div>
        <div class="hotel-info-grid">
            <div class="hotel-name"><span>목시 바이 메리어트 서울 인사동</span></div>
            <div class="hotel-rate"><p>9.6점</p></div>
            <div class="hotel-location">종로구 | 종로3가역 도보 1분</div>
            <div class="hotel-booking">
                <a href="#">예약하기</a>
            </div>
            <span class="hotel-money">89,700원</span>
        </div>
    </div>
    <div class="content-card hotel-info">
        <div class="hotel-img">
            <img src="//image.goodchoice.kr/resize_1000X500x0/affiliate/2020/01/10/5e1816bd8972f.jpg" alt="">
        </div>
        <div class="hotel-info-grid">
            <div class="hotel-name"><span>나인트리 프리미어 호텔 인사동</span></div>
            <div class="hotel-rate"><p>9.5점</p></div>
            <div class="hotel-location">종로구 | 안국역 도보 4분</div>
            <div class="hotel-booking">
                <a href="#">예약하기</a>
            </div>
            <span class="hotel-money">75,000원</span>
        </div>
    </div>
    <div class="content-card hotel-info">
        <div class="hotel-img">
            <img src="//image.goodchoice.kr/resize_1000X500x0/affiliate/2018/12/13/5c11a683a494b.jpg" alt="">
        </div>
        <div class="hotel-info-grid">
            <div class="hotel-name"><span>포시즌스 호텔</span></div>
            <div class="hotel-rate"><p>10.0점</p></div>
            <div class="hotel-location">종로구 | 광화문역 부근</div>
            <div class="hotel-booking">
                <a href="#">예약하기</a>
            </div>
            <span class="hotel-money">385,000원</span>
        </div>
    </div>
    <div class="content-card hotel-info">
        <div class="hotel-img">
            <img src="//image.goodchoice.kr/resize_1000X500x0/affiliate/2020/08/14/5f3604b0d9ada.jpg" alt="">
        </div>
        <div class="hotel-info-grid">
            <div class="hotel-name"><span>목시 바이 메리어트 서울 인사동</span></div>
            <div class="hotel-rate"><p>9.6점</p></div>
            <div class="hotel-location">종로구 | 종로3가역 도보 1분</div>
            <div class="hotel-booking">
                <a href="#">예약하기</a>
            </div>
            <span class="hotel-money">89,700원</span>
        </div>
    </div>
    <div class="content-card hotel-info">
        <div class="hotel-img">
            <img src="//image.goodchoice.kr/resize_1000X500x0/affiliate/2020/01/10/5e1816bd8972f.jpg" alt="">
        </div>
        <div class="hotel-info-grid">
            <div class="hotel-name"><span>나인트리 프리미어 호텔 인사동</span></div>
            <div class="hotel-rate"><p>9.5점</p></div>
            <div class="hotel-location">종로구 | 안국역 도보 4분</div>
            <div class="hotel-booking">
                <a href="#">예약하기</a>
            </div>
            <span class="hotel-money">75,000원</span>
        </div>
    </div>
</section>

</body>
</html>