<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>호텔피디아</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='{{ url_for("static", filename="login.css") }}' rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light hotelpedia-nav">
    <a class="navbar-brand hotelpedia-logo" href="/">
        <img src="/static/logo.png" width="30" height="30" alt="" margin-right="10px">
        호텔피디아
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        {% if token %}
        <img src="{{ token.img }}" width="30" height="30" style="margin-right: 10px; border-radius: 50%" alt="">
        <a class="login-page-link" href='/'>{{ token.name }}님 환영합니다</a>
        <a class="btn-logout" href="javascript:sign_out();">로그아웃</a>
        {% else %}
        <a class="login-page-link" style="margin-right: 5rem;" href='/register'>회원가입</a>
        {% endif %}
    </div>
</nav>
   <script>
        function sign_out() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = "/"
        }

        function email_confirm(asValue) {
           var regExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/;
           return regExp.test(asValue);
       }


        {% if msg %}
            alert("{{ msg }}")
        {% endif %}
        function signin() {
            let email = $('#email').val()
            let password = $('#password').val()

            if (email =="") {
                alert ("이메일을 입력해주세요")
                return
            }
            if (!email_confirm(email)) {
                alert("유효한 이메일 형식을 입력해주세요!")
                return;
            }

            $.ajax({
                type: "POST",
                url: "/api/signin",
                data: {email_give: email,
                       password_give: password},
                success: function (response) {
                    if (response['result'] == 'success') {
                        $.cookie('mytoken', response['token']);
                        alert('로그인 완료!')
                        window.location.href = '/'
                    } else {
                        // 로그인이 안되면 에러메시지
                        alert(response['msg'])
                    }
                }
            })
        }
    </script>
    <section class="login-wrapper">
        <div class="login">
            <h3>로그인</h3>
            <div class="login-input">
                <input type="email" placeholder="이메일" id="email">
            </div>
            <div class="login-input">
                <input type="password" placeholder="비밀번호" id="password">
            </div>
            <button class="login-btn" onclick="signin()">로그인</button>
            <span>or</span>
            <a class="register" href="/register">계정 만들기</a>
        </div>
    </section>
</body>
</html>