<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>호텔피디아</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='{{ url_for("static", filename="register.css") }}' rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <script>
        function signup() {
            $(document).ready(function () {

            })
            $.ajax({
                type: "POST",
                url: "/api/signup",
                data: {
                    email_give: $('#email').val(),
                    name_give: $('#name').val(),
                    phone_give: $('#phone').val(),
                    password_give: $('#password').val()
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('회원가입이 완료되었습니다.')
                        window.location.href = '/login'
                    } else {
                        alert(response['msg'])
                    }
                }
            })
        }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light hotelpedia-nav">
    <a class="navbar-brand hotelpedia-logo" href="/">
        <img src="/static/logo.png" width="30" height="30" alt="" margin-right="10px">
        호텔피디아
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="login-page-link" href='/login'>로그인하러가자</a>
        </form>
    </div>
</nav>
<section class="register-wrapper">
    <div class="register">
        <h3>회원가입</h3>
        <div>
            <input type="text" placeholder="이름" id="name">
        </div>
        <div>
            <input type="email" style="width: 320px;" placeholder="이메일" id="email">
            <button class="email-check-btn">중복확인</button>
        </div>
        <div>
            <input type="tel" placeholder="전화번호" id="phone">
        </div>
        <div>
            <input type="password" placeholder="비밀번호" id="password">
        </div>
        <div>
            <input type="password" placeholder="비밀번호 확인" id="passwordConfirm">
        </div>
        <div class="img-upload">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">프로필 이미지</label>
        </div>
        <button class="register-btn" onclick="signup()">회원가입</button>
    </div>
</section>
</body>
</html>